# Build results
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.vscode/

# Database files
*.mdf
*.ldf

# Rider files
.idea/

# Logs
*.log

# NuGet packages
*.nupkg
*.snupkg
packages/

# Others
*.DS_Store
