@{
    ViewData["Title"] = "Home";
}

<h1>School Management System</h1>

<ul>
    <li><a asp-controller="Schools" asp-action="Index">Manage Schools</a></li>
    <li><a asp-controller="SchoolClasses" asp-action="Index">Manage Classes</a></li>
    <li><a asp-controller="Students" asp-action="Index">Manage Students</a></li>
    <li><a asp-controller="Subjects" asp-action="Index">Manage Subjects</a></li>
</ul>
